{% extends "base.html" %}

{% block body %}
<table class="table table-striped table-hover table-bordered" style="width: 100%">
<tr>
    <th>Target</th>
    <th>Control</th>   
    <th>Status</th>
</tr>
{% for target in targets.keys()|sort %}
    <tr>
        <td><a href="/target/{{ target }}">{{ target }}</td>
        <td>
        {% for state in targets[target]['states'].keys()|sort %}
            {% if state != 'status' %}
                <a href="/control/{{ target }}/{{state}}"><button type="button" class="btn btn-primary">{{ state }}</button></a>
                {% endif %}
        {% endfor %}</td>
        <td>{{ targets[target]['status'] }}</td>
        <!-- <td><a data-toggle="tooltip" title="{{ target['seen_ago'] }}"><img src="/static/images/{{ target['status'] }}.png"></a></td> -->
    </tr>
{% endfor %}
</table>

{% endblock body %}